# Experiment to run (set to cxss to start client-side XSS experiment) 
EXPERIMENT=pmsecurity 

# crawler setting
CRAWLER_ID=0
CRAWLER_START=1     # Id of first crawler to start
CRAWLER_COUNT=1     # Number of seperate crawlers to start (max. cap on crawler id, incremented during start)
POLLING_INTERVAL=5  # Interval crawlers look into database for new tasks in seconds

# ZMQ Configuration for account framework interaction
ZMQ_ENABLE=true
ZMQ_HOST=tcp://127.0.0.1:5555
ZMQ_EXPERIMENT=pmsecurity # ZMQ_EXPERIMENT must same to the EXPERIMENT

# Starting insecure webserver containing vulnerable page examples (for use without ZMQ)
START_INSECURE_WEBSERVER=false

# Database configuration details
POSTGRES_HOST=127.0.0.1
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_PORT=5432

